
body{
    margin: 0;
    height: 100vh; /*alto  toda la parte visible del navegador toda la pantalla 100%*/
    width: 100vw;
}
header{
    height: 10vh;
    width: 100vw;
    background-color:#bbb2f1 ;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.padre{
    height: 10vh;
    min-height:100px;
}

.padre > div{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
    text-align: center;
}



h1{
    font-weight: lighter;
    font-size: small;
}

main{
    height: 80vh;
    width: 100vw;
    background-color:#f6b9da ;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

footer{
    height: 10vh;
    width: 100vw;
    background-color:#e7b057 ;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.heading{
    margin-top: 5vh;
    margin-left: 10vh ;
    margin-right: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: rgb(241, 241, 76);
}

.primer-segmento{
    height: 200px;
    margin-top: 5vh;
    margin-left: 10vh ;
    margin-right: 5vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    flex-wrap: no-wrap;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    
    background-color: rgb(181, 243, 109);
}

.segundo-segmento{
    height: 200px;
    margin-top: 5vh;
    margin-left: 10vh ;
    margin-right: 5vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    
    background-color: rgb(181, 243, 109);

}

.imagen-redonda{
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 160px;
    border: 1px solid black;
}

.texto-parra{
    display: inherit;
}


.padre-footer{
    height: 10vh;
    min-height:400px;
}

.padre-footer > div{
    position: absolute;
    top:95%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
    text-align: center;
}


.subtitulo{
    margin-left: 50px;
    margin-top: 5px ;

}

.conte-sub{
    margin-top: 100px ;
}