
  html, body { 
 padding:0;
 margin: 0;
 font-family:  arial;
 background-color: rgb(0, 0, 0);
 height: 100%;
  }

img {
    margin: 0;
    padding: 2em;
}

  header {
    height: 20vh;
    width: 10vw;
    background-color: #ffffff;
   
  }

  main {
    height: 150vh;
    width: 100vw;
    background-color: #000000;
  }

  #menucito ul {
    
    padding: 0px;
    margin: 0px;
   list-style: none;

  }

  #menucito ul li {

    display: inline-block;
 
    
  }

  #menucito ul li a {
    color: white;
    text-decoration: none;
     display: flex;
    padding: 20px 80px;

  }

  #menucito ul li a:hover {
    background-color: yellowgreen;
  }


  .container {
      background-color: greenyellow
     padding: 0.5em;
      overflow: hidden;
  }

  .apodo {
    margin-right: 129px;
    margin-left: 80px;
   box-sizing: whitesmoke;
    color: white;
    text-decoration: none;
  }

.footer-1 {
    display: flex;
    flex-direction: right;
    justify-content: flex-end;
  }

