body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    background-color: #F5F5F5;
    padding: 1rem;
    margin: 2rem auto;
}

h2 {
    display: block;
    position: relative;
    left: -70px;
}

input, select {
    margin-bottom: .5rem;
}

select {
    width: 100%;
}

.form {
    display: block;
}

.form-input {
    width: 100%;
}

.form-text-area {
    width: 100%;
    resize: none;
    margin-bottom: .5rem;
}

.form-button {
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: #FFF;
    background-color: #337AB7;
    border: none;
}