main{
    display: flex;
    flex-direction: row;
}

h1{
    text-align: center;
}

main > nav {
    width: 15%;
    padding: 10px;
    margin: 5px;
}

main > article {
    width: 65%;
    padding: 10px;
    margin: 5px;
}

main > aside {
    width: 20%;
    padding: 10px;
    margin: 5px;
}

main > nav > ul {
    display: flex;
    flex-direction: column;
    padding-inline-start: 20px;
}

main > article > section > p , aside > section > p {
    text-align: justify;
}

body {
    background-color: #D9D9D9;
}

.celeste {
    background-color: #78D0D1;
}

.amarillo {
    background-color: #E8E65F;
}

.verde {
    background-color: #96DC60;
}

.morado {
    background-color: #C885B1;
}

.naranja {
    background-color: #EFB14C;
}

.rojo {
    background-color: #F64815;
}