@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
}

/* Creando el Header */

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
    border-bottom: 1px solid rgb(219, 214, 214);
}

.logo{
    width: 30%;
    text-align: center;
}

.logo img{
    cursor: pointer;
}

nav{
    width: 70%;
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    font-size: 1.2rem;
    list-style: none;
    margin-right: 50px;
    color: white;
    cursor: pointer;
}

.carrito-img{
    width: 48px;
}

/* Creando el Main  */

.section-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-main img{
    width: 500px;
    height: 500px;
    margin-top: 20px;
    border: 1px solid rgb(187, 182, 182);
}

.text-content{
    display: inline-block;
    width: 80%;
    height: 100px;
    padding: 10px 0px 0px 20px;
    text-align: left;
    background-color: #d2d8dd;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-content h1{
    font-size: 1.8rem;
    font-weight: 600;
}

.text-content p{
    font-weight: 400;
    font-size: 1.2rem;
    color: rgb(39, 34, 34);
    font-style: italic;
}

.circular{
    justify-content: space-evenly;
}

.circular img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
    height: 10vh;
    margin-top: 20px;
}

footer p{
    color: white;
}
