@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&family=Roboto:wght@100&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* CODEANDO LOS ESTILOS PARA HEADER - BARRA DE NAVEGACIO */
.menu {
  background: #e9183b;
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.logo {
  color: #fff;
  font-size: 35px;
  padding: 0 80px;
  font-weight: bold;
}

.menu-items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.menu-items li {
  border-radius: 10px;
  margin: 0 5px;
}

.menu-items li a {
  padding: 7px 13px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
}

.menu-items li:hover,
li.active {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.btn-menu {
  margin-right: 30px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: none;
}

/* CODEANDO ESTILOS PARA EL BOX - GALERIA DE IMAGENES */
.titulo{
    padding: 10px;
    
    text-align: center;
    
}
.container {
  padding: 20px;
  min-width: 800px;
  max-width: 1000px;
  min-height: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(6, minmax(100px, 1fr));
  gap: 10px;
}

.caja {
  
  background: #e9183b;
  font-size: 48px;
  color: white;
  background-size: cover;
  background-position: center;
  box-shadow: 3px 3px 3px gray;
  transition: all 0.3s;
  
}

.caja:nth-of-type(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;


}

.caja:nth-of-type(6) {
  grid-column: 2 / 4;
  grid-row: 5 / 3;
}

.caja:nth-of-type(7) {
  grid-column: 3 / 1 ;
  grid-row:  7 / 5;
}
