body {
    background-color: rgb(238, 237, 237);
}

#label-task {
    width: 250px;
    font-size: 11px;
    padding: 6px 7px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 3px;
}

#button-task {
    font-size: 11px;
    color: #fff;
    padding: 6px 7px;
    background-color: #3EAC44;
    border: 1px solid #3EAC44;
    border-radius: 3px;
}