body{
    margin: 0;
    height: 100vh;
    width: 100vw;   
}

header, main{
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

main{
    height: 20vh;
    width: 100vw;     
}
input[type=text]{
    width: 100%;
    padding: 12px;
    resize: vertical;
  }
input[type=password]{
    width: 100%;
    padding: 12px;
    resize: vertical;
  }
button[type=submit]{
  background-color: #4CAF50;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  }

 .col{
    width: 90%;
    margin-top: 6px;
  }