
*{
    margin: 0;
}

header{
    background-color: #ac0000;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    border:10px solid  #000000;
}

header > :first-child{

    margin-top: 100px ;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 90px;
    font-family: monospace;
    text-align: center;
    
    
}

main {
    background-color: #ffffff ;
    border:0px 1px 0px 1px solid #fdfdfd ;
 
}

.contenedor-1{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    flex-wrap: wrap;

  
}

.contenedor-1-imagen > :first-child { 
    margin-right: 26px;
    
}

.contenedor-1 > :nth-child(2){
    margin-right: 27px; 
}

.contenedor-1 > :last-child{
    margin-right: 10px;
}

.contenedor-2 {
    margin-bottom: 30px;
}
.contenedor-2 > h1 {
    margin-bottom: 15px;
}

footer{
    background-color: #da0505;
    border: 1px solid #157400;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}
footer > :first-child{
    margin-top: 30px ;
}





@media only screen and (max-width: 600px) {

    main {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
        
 
    }

}