*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    margin: 50px;
    padding: 10px;
}
.contenedor{
    padding: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(6, 300px);
}
.item{
    background-color: rgb(221, 221, 221);
}
.item img{
    height: 50%;
}