.sidenavL{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family:'Courier New', Courier, monospace;
    width: 20%;
    height: 60vh;
    margin: 0;
    padding: 0;
}