*{
    box-sizing: border-box;
}
header{
    background-color: black;
    color: white;
    width: 100%;
   
}
main{
    display: flex;
    position: relative;
   
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

#titulos{
    margin-top: 15px;
    display: flex;
    align-items: center;
    
    flex-direction: column; 
}
#titulos p{
    text-align: center;
}
#titulos h1{
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: center;
}
#titulos h3{
    margin-bottom: 15px;
    padding: 5px;
    background-color: gray;
}



.imagenes{
    max-width: 100%;
    
}

.contenedor{
    position: relative;
    text-align: center;
    align-items: center;
    flex-direction: column;


}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 481px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    main{ 
        align-items: center;
        
    }

    .contenedor{
        display: flex;
        justify-content: center;
    }

    header{
        height: 55vh;
    }
    .subtitles{
        justify-content: center;
    }

}


@media only screen and (min-width: 901px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
} 